{
  "title":"Template Beispiel II",
  "template": "template-nav",

  "vorname": "Bernd",
  "nachname": "Das Brot"
}
---
<p>
  Hallo {{ page.vorname }},
  {{ page.vorname }} <em>{{ page.nachname }}</em>
</p>
{{ include "includeTest" }}